<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>base index</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/books.css' %}">
    <script type="text/javascript" src = "{% static '/js/bootstrap.js' %}"></script>
      <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>

  </head>
  <body>

    <!-- Nav starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'my_books:booksList' %}">BOOKS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'my_books:book_create'%}">Add Book</a>
          <a class="dropdown-item" href="#">Delete Book</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">modify</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action = "{% url 'my_books:book_search' %}">
        {{ csrf_token }}

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>
    <script type="text/javascript" src="{% static '/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.bundle.js' %}"></script>



  </body>
</html>
